元组

- Python 的元组与列表类似，不同之处在于元组的元素不能修改。
- 元组使用小括号，列表使用方括号。
- 元组创建很简单，只需要在括号中添加元素，并使用逗号隔开即可。
- 元组与字符串类似，下标索引从0开始，可以进行截取，组合等。

In [8]:
# 元组定义
tup1 = ('Google', 'Bing', 1997, 2000)
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"
tup4 = ()
print(type(tup1), type(tup2), type(tup3), type(tup4))

tup5 = (50)
print(type(tup5))  # 不加逗号，类型为整型

tup6 = (50,)
print(type(tup6))  # 加上逗号，类型为元组

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
<class 'int'>
<class 'tuple'>

In [13]:
# 访问元组：元组可以使用下标索引来访问元组中的值
tup1 = ('Google', 'Bing', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])
print(tup1[-2])  # 反向读取；读取倒数第二个元素
print(tup2[-2])  # 反向读取；读取倒数第二个元素
# 截取
print(tup1[1:])  # 截取元素，从第二个开始后的所有元素。

tup1[0]:  Google
tup2[1:5]:  (2, 3, 4, 5)
1997
6
('Bing', 1997, 2000)

In [11]:
# 元组元素不可修改
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

# 元组可重新定义
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100
(12, 34.56, 'abc', 'xyz')

In [17]:
# 删除元组，但我们可以使用del语句来删除整个元组
tup = ('Google', 'Runoob', 1997, 2000)
print(tup)
del tup

('Google', 'Runoob', 1997, 2000)

In [16]:
# 元组连接组合
tup_a = (12, 34.56)
tup_b = ('abc', 'xyz')
tup_ab = tup_a + tup_b
print(tup_ab)
t = 12345, 54321, 'hello!'
print(t)

(12, 34.56, 'abc', 'xyz')
(12345, 54321, 'hello!')

In [15]:
# 元组可以嵌套
# Tuples may be nested
u = t, (1, 2, 3, 4, 5)
print(u)

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [23]:
# 元组运算符
# 与字符串一样，元组之间可以使用 + 号和 * 号进行运算。这就意味着他们可以组合和复制，运算后会生成一个新的元组。
print(len((1, 2, 3)))
(1, 2, 3) + (4, 5, 6)  # 连接
print(('Hi!',) * 4)  #复制
print(3 in (1, 2, 3))  # 元素是否存在
for x in (1, 2, 3):
    print(x)  # 迭代

3
('Hi!', 'Hi!', 'Hi!', 'Hi!')
True
1
2
3

In [19]:
# 元组内置函数
tuple_m = ('1','2','3','4','5','ss')
print(len(tuple_m))  # 计算元组元素个数。
print(max(tuple_m))  # 返回元组中元素最大值。
print(min(tuple_m))  # 返回元组中元素最小值。

6
ss
1

In [26]:
# 将列表转换为元组。
seq = [1, 35, 5, 55, 51]
tuple_a = ()
# Error: 'tuple' object is not callable
tuple(seq)